<%= simple_form_for @event , defaults: { input_html: { class: 'input-event' } } do |f| %>
  <%= f.input :location, label: false, placeholder: "Lieu de l'évènement" %>
  <%= f.input :meeting_date, label: "Date", as: :date, html5: true %>
  <%= f.input :meeting_time, label: "Heure" %>
  <%= f.input :meeting_point, label: false, placeholder: "Point de rendez-vous" %>
  <%= f.input :group_size , label: false, placeholder: "Taille max du groupe" %>
  <%= f.input :difficulty, label: false, placeholder: "Difficulté" %>
  <div class="container d-flex justify-content-around">
    <%# <%= f.input :swim,
                  as: :check_boxes,
                  input_html: { class: "tag-selector" },
                  item_wrapper_class: 'tag-item' %>
        <%= f.label :swim,  'Baignade' %>
        <%= f.check_box :swim,
                        input_html: { class: "tag-selector" },
                        item_wrapper_class: 'tag-item' %>
  </div>
  <%= f.input :description, label: false, placeholder: "Description"  %>
  <%= f.button :submit, "Suivant", class: "btn btn-warning m-2"  %>
<% end %>
