<% content_for :title do %>
  <%= "Evènements autour de moi - OpenAirConnect" %>
<% end %>

<main data-controller="map">
<section id="searchbar" class="container-fluid pt-2">
<%= form_with url: events_path, method: :get, html: { class: 'row', data: { refresh_list_target: 'form' } } do |f| %>
<div class="row container-fluid">
    <div class="form-group col-7">
      <%= f.text_field :query,
                        class: "form-control btn_search",
                        placeholder: 'lieu',
                        value: params[:query],
                        data: {
                          refresh_list_target: 'searchInput',
                      } %>
    </div>
    <div class="form-group col-5">
    <% if(params[:date].nil?)
        placedate = 'date'
      else
        placedate = params[:date]
      end
    %>
      <%= date_field_tag :date,
                          params[:date],
                          class: 'form-control btn_search btn_flat',
                          placeholder: placedate,
                          data: { controller: 'flatpickr' } %>
    </div>
  </div>
  <div class="form-group col-12">
    <%= button_tag 'Rechercher', class: 'openair_btn w-100', type: 'submit' %>
  </div>
<% end %>
<div data-refresh_list_target="list">
</div>
</section>

<%
def difficult(e)
  case e.difficulty
  when 'Facile'
    'facile'
  when 'Balade'
    'balade'
  when 'Intermédiaire'
    'inter'
  when 'Difficile'
    'difficile'
  when 'Sportif'
    'sportif'
  end
end
  %>

<section id="home" data-controller="card-events">

<div class="container">
      <ul class="row d-flex justify-content-evenly p-4 g-2" data-card-events-target="list_cards">
  <% @events.each do |event| %>
    <%= render 'shared/card', item: event %>
  <% end %>

  </ul>
</div>

</section>

</main>
