<main data-controller="map">
<%# <button data-action="click->map#myPosition">Ma position</button> %>
<%# mettre le btn geolocalisation et renvoyer dans l'input en dessous la ville selon la loc %>
<section id="searchbar" class="container p-3">
<%= form_with url: events_path, method: :get, html: { class: 'row', data: { refresh_list_target: 'form' } } do |f| %>
  <div class="form-group col-md-5">
    <%= f.label :query, 'Ville', class: 'form-label' %>
    <%= f.text_field :query,
                      class: "form-control",
                      placeholder: 'ex: Aubagne',
                      value: params[:query],
                      data: {
                        refresh_list_target: 'searchInput',
                    } %>
  </div>
  <div class="form-group col-md-5">
    <%= label_tag :date, 'Date', class: 'form-label' %>
    <%= date_field_tag :date, params[:date], class: 'form-control' %>
  </div>
  <div class="form-group col-md-2 align-self-end">
    <%= button_tag 'Rechercher', class: 'btn btn-warning btn-block', type: 'submit' %>
  </div>
<% end %>
<div data-refresh_list_target="list">
</div>
</section>

def difficult(e)
  case e.difficulty
  when 'Facile'
    'facile'
  when 'Balade'
    'balade'
  when 'Intermédiaire'
    'inter'
  when 'Difficile'
    'difficile'
  when 'Sportif'
    'sportif'
  end
end
  %>

<section id="home" data-controller="card-events">

<div class="container">
      <ul class="row d-flex justify-content-evenly p-4 g-2" data-card-events-target="list_cards">
  <% @events.each do |event| %>
    <%= render 'shared/card', item: event %>
  <% end %>

  </ul>
</div>

</section>

</main>
