<h1 class="home-headings">Mes evenements</h1>

<section id="myevents">

<div class="container-fluid">
  <ul class="row d-flex justify-content-start p-4 g-2">
  <% @events.each do |event| %>
    <li class="card card_openair col-xs-12 col-lg-6 p-3">
      <%= image_tag('PrisonMick.jpg') %>
      <div class="card-body card-event-stats">
      <%= event.meeting_date.strftime('%A %B %Y') %>
      Organisé par <%= event.user.first_name %>
      <%= link_to 'details', event_path(event) %>
      </div>
    </li>
  <% end %>

  </ul>
</div>

</section>

<section>
<h2 class="home-headings">Les évènements que j'ai rejoint</h2>
<% @mybookings.each do |booking| %>
  Organisé par <%= booking.event.user.first_name %>
  Date <%= booking.event.meeting_date %>
  Lieu <%= booking.event.location %>
  Heure <%= booking.event.meeting_time %>
  <% end %>
</section>
