<%

def hello(e)
    case e.location
    when 'Marseille'
      'rand_1.jpg'
    when 'Cassis'
      'rand_2.jpg'
    when 'Aix-en-Provence'
      'rand_3.jpg'
    when 'Fuveau'
      'rand_4.jpg'
    when 'Saint-Cyr'
      'rand_5.jpg'
    when 'Aubagne'
      'rand_6.jpg'
    when 'Ciotat'
      'rand_7.jpg'
    when 'Gemenos'
      'rand_8.jpg'
    else
      'PrisonMick.jpg'
    end
end
  %>


<section>
<h1 class="home-headings">Mes évènements</h1>

<div class="container">
  <ul class="row d-flex justify-content-start p-4 g-2">
  <% @events.each do |event| %>
    <li class="card_openair d-block col-xs-12 col-lg-6 p-3">
    <%= link_to (event_path(event)), class: 'anchor_card d-flex p-3' do %>
      <div class="row">
      <img src="/assets/<%= hello(event) %>" class="col-xs-12 col-md-4" alt="">
        <div class="card-event-stats d-flex justify-content-between flex-column col-xs-12 col-md-8 p-2">
          <div class="d-flex justify-content-between">
            <span><%= event.location %></span>
            <span><%= event.difficulty %></span>
          </div>
          <div class="d-flex justify-content-between">
          <span><strong><%= event.meeting_date.strftime('%d/%m/%Y') %></strong></span>
            <span><i class="fa-solid fa-user"></i> <%= event.user.first_name %></span>
          </div>
        </div>
      </div>
      <% end %>
    </li>
  <% end %>

  </ul>
</div>

</section>

<section data-controller="cards">
<h2 class="home-headings">Les évènements que j'ai rejoint</h2>
<div class="container">
  <ul class="row d-flex justify-content-start p-4 g-2" data-cards-target="list_cards">
    <% @mybookings.each do |booking| %>
      <li class="card_openair col-xs-12 col-lg-6" data-cards-target="card">
        <%= link_to (event_path(booking.event)), class: 'anchor_card d-flex p-3' do %>
          <div class="row">
            <img src="/assets/<%= hello(booking.event) %>" class="col-xs-12 col-md-4" alt="">
            <div class="card-event-stats d-flex justify-content-between flex-column col-xs-12 col-md-8 p-2">
              <div class="d-flex justify-content-between">
                <span><%= booking.event.location %></span>
                <span><%= booking.event.difficulty %></span>
              </div>
              <div class="d-flex justify-content-between">
              <span><strong><%= booking.event.meeting_date.strftime('%d %m %Y') %></strong></span>
              <span><i class="fa-solid fa-user"></i> <%= booking.event.user.first_name %>.<%= booking.event.user.last_name.first %></span>
              </div>
            </div>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>

</section>
