<div class="container form-event" data-controller="event-route"><h1>Nouvel évènement</h1>

<%= simple_form_for @event , defaults: { input_html: { class: 'input-event' } }  do |f| %>

  <%= f.input :location, label: false, placeholder: "Lieu de l'évènement", :input_html => { data: { event_route_target: :location }}, class: "input-event" %>
  <div class="new_event_time">
  <%= f.input :meeting_date, as: :date, html5: true, input_html: { min: Date.today } %>
  <%= f.input :meeting_time, label: "Heure", :minute_step => 15 %>
  </div>
  <%= f.input :group_size, label: false, placeholder: "Taille max du groupe" %>
  <%= f.input :difficulty, label: false, placeholder: "Difficulté", class: "input-event"  %>
  <div class="container d-flex justify-content-around">
    <%= f.input :swim, label: "Baignade" %>
    <%= f.input :break, label: "Pause" %>
  </div>
  <%= f.input :description, label: false, placeholder: "Description"  %>

  <%# BOUTON SUIVANT POUR RECHERCHER LES HIKES PAR RAPPORT AU LIEU %>
  <button data-action="click->event-route#displayRoutes" class="btn btn-warning m-2">Suivant</button>

  <div class="container" data-controller="choose-hike">
  <section class="routes-results" data-event-route-target="results" id="myroutes" >
  

  </section>

  <section class="routes-results d-none" data-event-route-target="hidden" >
    <%= f.input :hike_id_strava,  :as => :hidden, :input_html => { value: "3109521128044970500", data: {choose_hike_target: :chosenHike} }   %>  <%# LA VALEUR EST L'ID DE LA ROUTE DE STRAVA%>

    <%= f.input :meeting_point, label: false, placeholder: "Point de rendez-vous"  %>

  <%# BOUTON POUR SOUMETTRE LE FORMULAIRE %>
  <%= f.button :submit, "Créer mon évènement", class:"btn btn-success m-2" %>
  </section>
 </div>
  <% end %>

</div>
