<div class="container form-event" data-controller="event-route"><h1>Nouvel évènement</h1>

<%= simple_form_for @event , defaults: { input_html: { class: 'input-event' } }  do |f| %>

  <%= f.input :location, label: false, placeholder: "Lieu de l'évènement", :input_html => { data: { event_route_target: :location }}, class: "input-event" %>
  <div class="new_event_time">
  <%= f.input :meeting_date, label: "Date", as: :date, html5: true, input_html: { min: Date.today } %>
  <%= f.input :meeting_time, label: "Heure", :minute_step => 15 %>
  </div>
  <!--A METTRE PLUS BAS, UNE FOIS L'ITINERAIRE CHOISI -->
  <%= f.input :group_size, label: false, placeholder: "Taille max du groupe" %>
  <%= f.input :difficulty, label: false, placeholder: "Difficulté", class: "input-event"  %>
  <div class="container d-flex justify-content-around">
    <%= f.input :swim, label: "Baignade" %>
    <%= f.input :break, label: "Pause" %>
  </div>
  <%= f.input :description, label: false, placeholder: "Description"  %>

  <%# BOUTON SUIVANT POUR RECHERCHER LES HIKES PAR RAPPORT AU LIEU %>
  <button data-action="click->event-route#displayRoutes" class="btn btn-warning m-2">Suivant</button>
  <section class="routes-results" data-event-route-target="results">
  <%# -------------APIII A METTRE ICI --------------------- %>
    <%# -------------APIII A METTRE ICI --------------------- %>
     <%# -------------APIII A METTRE ICI --------------------- %>
       <%# -------------APIII A METTRE ICI --------------------- %>
  </section>

  <section class="routes-results d-none" data-event-route-target="hidden">
    <%= image_tag("imageluminy.png", :style => "width: 400px")%>
    <h3>Luminy à Cassis </h3>
    <ul>
      <li>Difficulté : Intermédiaire</li>
      <li>Distance : 10,87km</li>
      <li>Durée estimée: 2h 50</li>
      <li>Dénivelé : 550m</li>
    </ul>

    <%= f.input :meeting_point, label: false, placeholder: "Point de rendez-vous"  %>

  <%# BOUTON POUR SOUMETTRE LE FORMULAIRE %>
  <%= f.button :submit, "Créer mon évènement", class:"btn btn-warning m-2" %>
  </section>

  <% end %>

</div>
