<%

def hello(e)
    case e.location
    when 'Marseille'
      'rand_1.jpg'
    when 'Cassis'
      'rand_2.jpg'
    when 'Aix-en-Provence'
      'rand_3.jpg'
    when 'Fuveau'
      'rand_4.jpg'
    when 'Saint-Cyr'
      'rand_5.jpg'
    when 'Aubagne'
      'rand_6.jpg'
    when 'Ciotat'
      'rand_7.jpg'
    when 'Gemenos'
      'rand_8.jpg'
    else
      'PrisonMick.jpg'
    end
end
  %>

<section id="show" data-controller="weather">
  <div class="row m-0 show_hike_map position-relative">
    <%= image_tag @event.hike.image_url,  class: 'col-12 p-0' %>
    <h4 class="position-absolute text-center bottom-0 m-0" data-weather-target="location"><%= @event.location %></h4>
  </div>
  <div class="show_hike_details p-3">
    <div class="hike_stats d-flex justify-content-between">
    <p><i class="fa-solid fa-arrow-up-right-dots"></i> <strong> <%= @event.hike.elevation %> m</strong></p>
    <p><i class="fa-solid fa-person-hiking"></i> <strong><%= @event.hike.distance.floor(1) %> km</strong></p>
    </div>
  <p><i class="fa-regular fa-clock"></i> <strong><%= (@event.hike.duration / 60 / 60) %>h<%= (@event.hike.duration / 60) % 60 %>min</strong><span class="average_time"> ( Temps estimé )</span></p>
  </div>
  <div class="show_event_details d-flex justify-content-center align-items-center flex-column">
    <div class="show_owner_event">
      <h6>Organisateur : <%= @event.user.first_name %>. <%= @event.user.last_name.first %>  <strong><%= '( Vous )' if current_user == @event.user %></strong></h6>
      <% if current_user == @event.user %>
      <% elsif !@mybookings.where(event: @event).empty? %>
      <%= "Vous participez à cet évènement" %>
      <%= button_to "Se désinscrire de l'évenement", booking_path(@booking), method: :delete, class: 'btn btn-success' %>
      <% elsif current_user != @event.user %>
      <%# VUE DES VISITEURS   %>
      <%= button_to "Rejoindre l'évenement", event_bookings_path(@event), method: :post, class: 'btn btn-success' %>
      <% end %>
    </div>
    <%= link_to "Supprimer l'evenement", '#', class:'show_delete_js' %>
    <div class="details_stats container row">
      <div class="col-12 d-flex flex-column">
        <h6>Date de l'evenement : <span data-weather-target="date_event"><%= @event.meeting_date.strftime('%d/%m/%Y') %></span></h6>
        <h6>Point de rendez-vous : <span><%= @event.meeting_point %></span></h6>
        <h6>Horaire du point de rendez-vous : <span><%= @event.meeting_time.hour   %>h<%= @event.meeting_time.min %></span></h6>
      </div>
    </div>
    <div class="details_stats container row">
      <div class="event_stats col-12 d-flex justify-content-between align-items-center">
        <% if @event.items.count > 0 %>
        <h6 class="list_items_btn"><%= link_to event_items_path(event_id: @event.id) do %><i class="fa-sharp fa-solid fa-clipboard"></i> - Voir <% end %></h6>
        <% else %>
        <h6 class="list_items_btn"><%= link_to new_event_item_path(event_id: @event.id) do %><i class="fa-sharp fa-solid fa-clipboard"></i> - Ajouter <% end %></h6>
        <% end %>
        <h6><i class="fa-solid fa-user"></i> </span><%= @event.bookings.count + 1 %> / <%= @event.group_size %></span></h6>
        <h6>météo :<span data-weather-target="icon" class="img_parent"></span></h6>
      </div>
    </div>
  </div>
<h3 class="text-center p-5">Chatroom ici</h3>
</section>
