<section id="show" data-controller="weather">
  <div class="row m-0 show_hike_map position-relative">
    <%= image_tag @event.hike.image_url,  class: 'col-12 p-0' %>
    <h4 class="position-absolute text-center bottom-0 m-0" data-weather-target="location"><%= @event.location %></h4>
  </div>
  <div class="show_hike_details p-3">
    <h2 class="text-center"><%= @event.hike.title.split(':', 2)[1] %></h2>
    <div class="hike_stats d-flex justify-content-between">
    <p><i class="fa-solid fa-arrow-up-right-dots"></i> <strong> <%= @event.hike.elevation %> m</strong></p>
    <p><i class="fa-solid fa-person-hiking"></i> <strong><%= @event.hike.distance.floor(1) %> km</strong></p>
    <p><i class="fa-regular fa-clock"></i> <strong><%= (@event.hike.duration / 60 / 60) %>h<%= (@event.hike.duration / 60) % 60 %>min</strong></p>
    </div>
  </div>
  <div class="show_event_details d-flex justify-content-center align-items-center flex-column">
    <div class="show_owner_event">
      <h6>Organisateur : <%= @event.user.first_name %>. <%= @event.user.last_name.first %>  <strong><%= '( Vous )' if current_user == @event.user %></strong></h6>
    </div>
    <% if current_user == @event.user %>
      <%= link_to "Annuler l'évènement", '#', class:'openair_btn destroy_event' %>
      <% elsif !@mybookings.where(event: @event).empty? %>
      <h6 class="participate participate_event">Vous participez à cet évènement </h6>
      <%= button_to "Se désinscrire", booking_path(@booking), method: :delete, class: 'openair_btn participate_event' %>
      <% elsif current_user != @event.user %>
      <%= button_to "Rejoindre l'évènement", event_bookings_path(@event), method: :post, class: 'openair_btn participate_event' %>
      <% end %>
    <div class="details_stats col-12 container row">
      <div class="d-flex justify-content-between">
        <h6>Date de l'évènement : <span data-weather-target="date_event"><%= @event.meeting_date.strftime('%d/%m/%Y') %></span></h6>
        <h6>Horaire: <span><%= @event.meeting_time.hour   %>h<%= @event.meeting_time.min %></span></h6>
      </div>
      <div>
        <h6>Point de rendez-vous : <span><%= @event.meeting_point %></span></h6>
      </div>
    <div class="d-flex">
      <div class="bool_events">
        <div class="bool_stats text-center">
          <i class="d-flex justify-content-center align-items-center bool-true fa-solid fa-user"></i>
          <h6 class="d-flex flex-column px-3"><%= @event.bookings.count + 1 %> / <%= @event.group_size %></h6>
        </div>
          <div class="bool_stats text-center">
            <span data-weather-target="icon" class="d-flex justify-content-center align-items-center bool-true"></span>
            <h6 class="d-flex flex-column"><span>Météo</span></h6>
          </div>
        <% if @event.swim == true %>
          <div class="bool_stats text-center">
            <i class="d-flex justify-content-center align-items-center bool-true fa-solid fa-person-swimming "></i>
            <h6>Baignade</h6>
          </div>
        <% end %>
        <% if @event.break? %>
        <div class="bool_stats text-center">
          <i class="d-flex justify-content-center align-items-center bool-true fa-solid fa-cookie-bite"></i>
          <h6>Pauses</h6>
        </div>
        <% end %>
        </div>
      </div>
    <div class="event_stats container row mx-auto">
        <% if ( @event.items.count > 0 && !@mybookings.where(event: @event).empty? )|| (@event.items.count > 0 && @event.user == current_user ) %>
        <h6 class="col-12 list_items_btn btn-success"><%= link_to event_items_path(event_id: @event.id) do %><i class="fa-sharp fa-solid fa-clipboard"></i> Voir la liste <% end %></h6>
        <% elsif !@mybookings.where(event: @event).empty? || @event.user == current_user %>
        <h6 class="col-12 list_items_btn"><%= link_to new_event_item_path(event_id: @event.id) do %><i class="fa-sharp fa-solid fa-clipboard"></i> Ajouter une liste <% end %></h6>
        <% end %>
      </div> <!-- btn list -->
    </div>
  </div>
<% if (!@mybookings.where(event: @event).empty?) || (@event.user == current_user) %>
  <%= link_to (event_chatroom_path(@event, @event.chatroom)), class: 'btn_message' do %>
    <i class="fa-solid fa-message"></i>
  <% end %>
<% end %>
</div>
</section>
