<div class="container-fluid">
  <h1 class="list-title">LISTE DES CHOSES QUE J’APPORTE</h1>
  <br>
  <div class="form-check">
    <%= form_with url: "/create_brings", method: :patch do |f| %>
        <% @items.each do |item| %>
          <% packed_items = 0 %>
          <% item.item_brings.each do |packed_unit| %>
             <% packed_items += packed_unit.quantity.to_i %>
          <% end %>

          <div class="inline-elements list-text">
            <h6><input type="checkbox" id="item_brings_<%= item.id %>" name="item_brings[<%= item.id %>]" value="<%= item.id %>" class="checkbox-style" ></h6>
            <h6><%= item.quantity%></h6>
            <h6 class="binder-margin">-</h6>

            <h6 class="item-name">
              <label for="<%= item.id %>"><%= item.name %></label>
            </h6>

            <%# on click: If quantity is > 1, show form %>
            <h6><input id="item_brings_<%= item.id %>" name="item_brings[<%= item.id %>]" placeholder="combien?"></h6>
            <%# check that packed_items is not greater that the needed quantity %>

            <%# on submit: replace form by text stating the new item.quantity - item.packed_quantity unless item.quantity - item.packed_quantity == 0 %>
             <% unless item.quantity == packed_items%>
              <h6 class="list-text"> reste <%= item.quantity - packed_items%> units à emmener </h6>
            <% end %>
          </div>
          <br>
        <% end %>
      <br>
      <%= f.submit "clique" %>
    <% end %>

  </div>

</div>
