<div class="container-fluid">

  <div class="list-page-wrapper">
    <h1 class="home-headings">LISTE DES CHOSES A APPORTER</h1>
      <div class="list-headers">
        <h6 id="item-header">Article</h6>
        <h6 id="quantity-header">Quantité</h6>
      </div>

    <%= form_with url: "/create_brings", method: :patch do |f| %>
    <div class="form-check d-flex justify-content-center flex-column">
      <div class="list-body scrollable">
        <% @items.each do |item| %>
          <% packed_items = 0 %>
          <% item.item_brings.each do |packed_unit| %>
              <% packed_items += packed_unit.quantity.to_i %>
          <% end %>

          <div class="list-unit" data-controller="toggle-input">
            <div class="d-flex align-items-center justify-content-between">
              <div class="d-flex align-items-center">
                <% if item.quantity == packed_items%>
                  <h6><i class="fa-solid fa-check" style="color: #000000;"></i></h6>
                <% end %>

                <h6 class="item-name">
                  <label for="<%= item.id %>"><%= item.name %></label>
                </h6>
            </div>
            <%# check that packed_items is not greater that the needed quantity %>

              <div class="quantity-container">
                <h6><%= packed_items%> / <%=item.quantity%></h6>
              </div>
            </div>
            <% if item.quantity != packed_items%>
            <div class="packed-quantity" data-toggle-input-target="hideable">
              <input id="item_brings_<%= item.id %>" name="item_brings[<%= item.id %>]" placeholder="quantité" type="number" max="<%=item.quantity - packed_items%>">
            </div>
            <% end %>
          </div>
        <% end %>
      </div>
        <%= f.submit "Mettre à jour la liste", class: 'openair_btn' %>
      <% end %>
  </div>

</div>
 <%= link_to (event_path(@event)), class: 'btn_message' do %>
    <i class="fa-solid fa-arrow-left"></i>
    <% end %>
